/*Theme variables*/
@general-trans-time:0.5s;
@base-color-dark:#59c355;
@base-color-light:#68e766;
@base-color-border:darken(@base-color-dark,10%);

@base-color-grey:#CFCFCF;
@base-color-text:#121212;

@checkbox-height:45px;
@checkbox-width:@checkbox-height*2.5;
@knob-inner-spoke-position:12;
@knob-position-on-hover:(@checkbox-width - @checkbox-height)/2; 
@knob-position-on-checked:@checkbox-width - @checkbox-height;



