@fullWidth:100%;
@gerenalFontFamily : Arial,Helvetika;
@generalFontSize : 14px;
@generalFontColor : #121212;

@mobileResolution :  ~"only screen and (max-width: 414px)";
@tabletPottraitResolution :  ~"only screen and (max-width: 768px)";
@tabletLandscapeResolution :  ~"only screen and (max-width: 1024px)";
@largeMonitorResolution :  ~"only screen and (max-width: 1366px)";
@mamothMonitorResolution :  ~"only screen and (min-width: 1367px)";