@fullWidth:100%;
@gerenalFontFamily : Arial,Helvetika;
@generalFontSize : 14px;
@generalFontColor : #121212;

@mobileResolution :  "@media screen (max-width: 414px)";
@tabletPottraitResolution :  "@media screen (max-width: 768px)";
@tabletLandscapeResolution :  "@media screen (max-width: 1024px)";
@largeMonitorResolution :  "@media screen (max-width: 1366px)";
@mamothMonitorResolution :  "@media screen (min-width: 1367px)";